Path: wabbit.cc.uow.edu.au!dmssyd.syd.dms.CSIRO.AU!news.dmpe.CSIRO.AU!mel.dit.cs
iro.au!merlin!harbinger.cc.monash.edu.au!bunyip.cc.uq.oz.au!news.qut.edu.au!rhys
From: rhys@fit.qut.edu.au (Rhys Weatherley)
Newsgroups: aus.net.news
Subject: Re: Proposal: new home for the censorship debate
Date: 21 Mar 1995 08:22:08 GMT
Organization: Queensland University of Technology, Australia
Lines: 23
Distribution: world
Message-ID: <3km2bg$8hm@stork.qut.edu.au>
References: <3k0lvp$8mv@stork.qut.edu.au> 
<3k3vnu$630@woodstock.socs.uts.EDU.AU> <3k57rb$sm5@stork.qut.edu.au> 
<3kjq4r$166@woodstock.socs.uts.EDU.AU> <3kl2sn$kv0@stork.qut.edu.au> 
<3klkaj$7t7@wabbit.cc.uow.edu.au>
NNTP-Posting-Host: ocean.fit.qut.edu.au
Mime-Version: 1.0
Content-Type: text/plain; charset=US-ASCII
Content-Transfer-Encoding: 7bit
X-Newsreader: TIN [version 1.2 PL2]

Rev Dr Phil Herring (revdoc@wumpus.cc.uow.edu.au) wrote:

> I'll send a newgroup message when I have the charter. (Hint hint.)

:-)

Here it is, only slightly modified from my original:

The newsgroup aus.net.policy is for the discussion of all aspects of
Australian Internet policy, including government committee reports, the 
pros and cons of censorship, media hype about networks, approaches for 
dealing with network abuse, and the management of common network 
resources.  Alternatives to these, including both social and technical 
alternatives.  Protections and rights for operators and users.  Reports 
of and methods to handle abuse of network privileges.  Current and 
proposed government policies.

Cheers,

Rhys.
-- 
Rhys Weatherley, Queensland University of Technology, Brisbane, Australia.
E-mail: rhys@fit.qut.edu.au  "net.maturity is knowing when NOT to followup"
---------------------------------------------------------------------------
