aus.games.network is intended for the discussion of Australian
network-gaming issues.
The newsgroup is unmoderated and provides a forum for Australian network

gamers to discuss topics such as: arranging and advertising private or
public LAN parties, creating or organising clans and clan tournaments,
notifying others of local game servers and issues related to local
servers, event/competition announcements, and issues related to setting
up network games.
Furthermore there is no cross-posting to non-Australian newsgroups, and
no binary or HTML posts are
allowed in this group.
