#container {
	color: black;
	background: white;
	margin-left: 2%;
	margin-right: 2%;
}

h1,h2,h3,h4,h5,h6,p,ul {
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

pre {
	font-family: monospace;
}

strong {
	color: red;
	background: white;
}

td.lhs {
	background: #ffffe0;
	color: black;
	font-size: 90%;
}

td.rhs {
	background: #ffffff;
	color: black;
}

div.box {
	border: solid;
	border-width: thin;
	width: 100%;
}

div.lhs {
	background: #ffffe0;
	border: solid;
	border-radius: 25px;
	border-width: 2px;
	float: left;
	width: 160px auto;
	font-size: 90%;
	margin: 0;
	padding: 1em;
}

div.rhs {
	float: left;
	width: 600px;
	border-width: thin;
	padding: 1em;
}
